body {
  background-color: #262626;
	color: #FFFFFF;	
}

div .top {
	background-color: #FA9F2A;
	color: #FFFFFF;			
}

div {
	background-color: #7FBF10;
	color: #FFFFFF;		
}

div {
	background-color: #EBD521;
	color: #FFFFFF;		
}



/*
div .dRed {
	background-color: #9E1439;	
}

div .dGreen {
	background-color: #7FBF10;	
}
*/
